body {
  background-image: url("../images/sanad-bkg.jpg");
  background-repeat: no-repeat;
  background-color: #a1aabe;
  background-size: cover;
  background-position: center bottom;
}

.navbar-brand img {
  width: 100px;
}

/* COPYRIGHT */

.copyright {
  text-align: center;
}