h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #444444;
}

.container-fluid {
  height: 100vh;
  background-image: url("../images/sanad-bkg.jpg");
  background-repeat: no-repeat;
  background-color: #a1aabe;
  background-size: 100%;
  background-position: bottom;
}

.bg-dark {
  background-color: #00529d!important;
}

.navbar-brand img {
  width: 100px;
}

/* HERO */

.hero {
  margin-top: 200px;
  text-align: center;
}

.logo img {
  width: 50%;
}

/* COPYRIGHT */

.copyright {
  text-align: center;
}